---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@media screen and (min-width: 600px) {
  .project-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}


  
  .project-content {
    flex: 1;  /* Take up available space on the left */
  }
  
  .project-header-image {
    width: 300px;          /* Adjust width as needed */
    height: auto;          /* Maintain aspect ratio */
    margin-left: 0rem;     /* Space between text and image */
    border-radius: 5px;
    order: 2;              /* Ensures image appears on the right */
  }
  
  .project-divider {
    border: none;
    border-top: 1px solid #444;  /* Adjust color as needed */
    margin: 1.5rem 0;
  }
  
